@import "tailwindcss";

@layer base {
  :root {
    --font-ar: 'Tajawal', system-ui, sans-serif;
    --font-fr: 'Plus Jakarta Sans', system-ui, sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #F8FAFC;
    color: #0F172A;
    font-family: var(--font-ar);
    padding-bottom: 72px; /* space for mobile bottom dock */
  }

  html[dir="ltr"] body {
    font-family: var(--font-fr);
  }
}
